<!-- I have made a simple js script to add to the project, that display the content of the id's with copy and contact. This is just to add and use a js file in the Node Server -->
<footer>
  <div class="container">
    <p id="copy"></p>
    <p id="contact"></p>
    <section class="social">

      <a href="https://www.facebook.com/michael.houmann" target="_blank">
        <img src="/assets/images/facebook.png" alt="facebook" />
      </a>

      <a href="https://github.com/mhoumann87/" target="_blank">
        <img src="/assets/images/Github.png" alt="github" />
      </a>

      <a href="https://twitter.com/MichaelHoumann" target="_blank">
        <img src="/assets/images/twitter.png" alt="twitter" />
      </a>

      <a
        href="https://www.linkedin.com/in/michael-houmann-3b03654b/"
        target="_blank"
      >
        <img src="/assets/images/linkedin.png" alt="linkedin" />
      </a>
    </section>
  </div>
</footer>